.card-container {
  display: flex;
  position: absolute;
  top: -70%;
  gap: 30px;
  margin-left: 40px;
  padding-bottom: 140px;
}

.card-box {
  width: 404px;
  height: 258px;
  padding: 48px 30px 44px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  flex: 0 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
}


